*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.banner{
    background-image:url(back-image.png) ;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    padding: 20px 10%;
    position: relative;
    overflow: hidden;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo{
    width: 150px;
    cursor: pointer;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}

nav ul li a{
    text-decoration: none;
    color: #333;
    font-weight: 400;
}

.button{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 14px 40px;
    border-radius: 30px;
    border-top-right-radius: 0;
    background-image: linear-gradient(45deg,#df4881,#c430d7);
    transition: 0.5s;
}

.content{
    margin-top: 11%;
    width: 650px;;
}

.content h1{
    font-size: 75px;
    color: #222;
    animation-delay: 1s;

}

.content p{
    color: #333;
    padding: 10px 0 30px;
    animation-delay: 1.5s;
}

.content .button{
    padding: 15px 80px;
    font-size: 15px;
    animation-delay: 2s;

}


.button:hover{
    border-top-right-radius: 35px;
}

.img{
    width: 350px;
    position: absolute;
    bottom: 0;
    right: 12%;
}

.img .animation{
    animation-delay: 0.5s;
}

.animation{
    opacity: 0;
    transform: translateX(30px);
    animation: moveup 0.5s linear forwards;
}

@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}